*.so
*.o
.*.swp
*.pdf
*.myfile
*.log
sender1
receiver1
sender2
receiver2
sender3
receiver3
sender4
receiver4
sender5
receiver5
sender6
receiver6
sender_physical_test
receiver_physical_test
test/receiver_datalink_layer_utopia.cpp
